/*  Classes  */
.title-m {
  font-size: var(--title-m-size);
  line-height: var(--title-m-line);
  font-weight: var(--title-m-weight);
}

.text-l {
  font-size: var(--text-l-size);
  line-height: var(--text-l-line);
  font-weight: var(--text-l-weight);
}

.text-m {
  font-size: var(--text-m-size);
  line-height: var(--text-m-line);
  font-weight: var(--text-m-weight);
}

.text-s {
  font-size: var(--text-s-size);
  line-height: var(--text-s-line);
  font-weight: var(--text-s-weight);
}
