.container {
  padding-top: 10rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--gap-xl);
  gap: var(--gap-xl);
  max-width: 669px;
  margin: 0 auto 42px;
}

.usersSection {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
}

.mainHeading {
  font-size: 60px;
  font-weight: var(--font-weight-bold);
  line-height: 100%;
  text-align: center;
  margin: var(--space-10);
}

.mainHeading .gradient {
  color: var(--color-orange);
}

@media (max-width: 768px) {
  .container {
    padding-top: 4rem;
  }
}

@media (max-width: 490px) {
  .container {
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
