.searchSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-s);
}

.searchLabel {
  align-self: start;
}

.searchBar {
  display: flex;
  gap: var(--space-16);
  align-items: center;
}

.searchInput {
  width: 500px;
  max-width: 100%;
  height: 78px;
  padding: 0 24px;
  border: none;
  border-radius: var(--radius-card);
  font-size: var(--text-l-size);
  font-weight: var(--font-weight-regular);
  line-height: 170%;
  letter-spacing: 0;
  color: var(--color-text-muted);
  background: var(--color-white);
  font-family: var(--font-poppins);
}

.searchInput:focus {
  outline: none;
  border-color: var(--color-orange);
}

@media (max-width: 768px) {
  .searchBar {
    flex-direction: column;
    align-items: end;
  }

  .searchButton {
    width: 100%;
    height: 38px;
  }
}

@media (max-width: 600px) {
  .searchInput {
    width: 400px;
  }
}

@media (max-width: 440px) {
  .searchInput {
    width: 335px;
  }
}
