@import "./styles/tokens.css";
@import "./styles/typography.css";
@import "./styles/components.css";

body {
  font-family: var(--font-poppins);
  background-color: var(--color-background);
  color: var(--color-text-primary);
  display: grid;
  margin: 0;
  min-height: 100vh;
  place-content: center;
}
